<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/ui/semantic.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body style="background: rgba(0, 0, 0, 0); overflow hidden">
    <div class="ui card" style="margin: 5px; width: 500px">
        <div class="image">
            <img src="http://www.gtainside.com/en/images/content/gtainside_exclusive_shot_april05.jpg">
        </div>
        <div class="content" style="max-height: calc(99vh - 340px); overflow: overlay">
            <a class="header">Clothing Shop North</a>
            <div class="meta">
                <span class="date">St. Nigger Street 24a</span>
            </div>
            <div class="ui three item menu">
                <a class="item active">Shirts</a>
                <a class="item">Hosen</a>
                <a class="item">Schuhe</a>
            </div>
            <div class="ui relaxed divided list animated">
            <% for (var i = 0; i < result.m_shirt.length; i++) { %>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button inverted green" value="<%=result.m_shirt[i].class %>">buy</div>
                    </div>
                    <div class="right floated ui floating dropdown labeled search icon button">
                        <i class="wrench icon"></i>
                        <span class="text">Style</span>
                        <div class="menu">
                        <% for (var j = 0; j < result.m_shirt[i].colors.split(',').length; j++) { %>
                            <div class="item"><%=result.m_shirt[i].colors.split(',')[j] %></div>
                        <% } %>
                        </div>
                    </div>
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        <%=result.m_shirt[i].disp %>
                        <div class="description"><%=result.m_shirt[i].price %>$</div>
                    </div>
                </div>
            <% } %>
            </div>
        </div>
        <div class="extra content" style="background-color: #2e3440">
            <div class="ui red inverted button left floated" id="close">
                <i class="remove icon"></i> schließen
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/ui/semantic.min.js"></script>
    <script src="/javascripts/clothing.js"></script>
    <% include templates/request %>
</body>

</html>
