<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/ui/semantic.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body style="background: rgba(0, 0, 0, 0); overflow hidden">
    <div class="ui card" style="margin: 5px; width: 500px">
        <div class="image">
            <img src="http://www.gtainside.com/en/images/content/gtainside_exclusive_shot_april05.jpg">
        </div>
        <div class="content" style="max-height: calc(99vh - 340px); overflow: overlay">
            <a class="header">Clothing Shop North</a>
            <div class="meta">
                <span class="date">St. Nigger Street 24a</span>
            </div>
            <select class="ui dropdown shopdrop">
              <option value="">Clothing</option>
              <option value="1">Gesicht</option>
              <option value="0">Maske</option>
              <option value="1">Haare</option>
              <option value="0">Hose</option>
              <option value="0">Schuhe</option>
              <option value="0">Shirt</option>
              <option value="0">Unterhemder</option>
              <option value="0">Arme</option>
              <option value="0">Rucksäcke</option>
            </select>
            <div class="ui relaxed divided list animated">
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button inverted blue">Select</div>
                    </div>
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        Oculus Rift
                        <div class="description">500$</div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button inverted red">Buy</div>
                    </div>
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        Nvidia Gaming PC
                        <div class="description">1200$</div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button inverted green">Buy</div>
                    </div>
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        AMD Gaming PC
                        <div class="description">1000$</div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button inverted green">Buy</div>
                    </div>
                    <i class="large github middle aligned icon"></i>
                    <div class="content">
                        Oculus Rift
                        <div class="description">500$</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content" style="background-color: #2e3440">
            <div class="ui red inverted button left floated">
                <i class="remove icon"></i> schließen
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/ui/semantic.min.js"></script>
    <script src="/javascripts/clothing.js"></script>
</body>

</html>
