<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/ui/semantic.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body style="background: rgba(0, 0, 0, 0)">
    <div class="ui modal">
        <div class="header" style="background-color: #1a93f3; color: white">Debugger</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Code</label>
                    <textarea id="code"></textarea>
                </div>
                <div class="field">
                    <label>Output</label>
                    <textarea id="output" disabled rows="2"></textarea>
                </div>
                <div class="field">
                    <label>Targets</label>
                    <div class="ui fluid multiple search selection dropdown">
                        <input type="hidden" name="user">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Player</div>
                        <div class="menu">
                            <div class="item" data-value="server">
                                <i class="server icon"></i> Server
                            </div>
                            <div class="item" data-value="global">
                                <i class="globe icon"></i> Global
                            </div>
                            <div class="item" data-value="local">
                                <i class="desktop icon"></i> Local
                            </div>
                            <div class="item" data-value="devsec">
                                <i class="gamepad icon"></i> DevSec
                            </div>
                            <div class="item" data-value="anton">
                                <i class="gamepad icon"></i> Anton
                            </div>
                            <div class="item" data-value="molaron">
                                <i class="gamepad icon"></i> Molaron
                            </div>
                            <div class="item" data-value="spoody">
                                <i class="gamepad icon"></i> Spoody
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions" style="background-color: #2e3440">
            <div class="ui green inverted button" id="execute">Execute</div>
            <div class="ui red cancel button" id="close">Close</div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/ui/semantic.min.js"></script>
    <script src="/javascripts/debug.js"></script>
    <% include templates/request %>
</body>

</html>
