<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body style="background: <%=background %>">
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="<%=icon %>"></i> <%=title %>
        </div>
        <div class="content">
            <p style="text-align: center">
                <% for (var i = 0; i < text.length; i++) { %>
                    <%=text[i] %><br>
                <% } %>
            </p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button" onclick="ServerRequest('PLAYER_DISCONNECT', 'bye')">
                <i class="remove icon"></i> No
            </div>
            <div class="ui green ok inverted button" onclick="ServerRequest('CEF_CLOSE', 'debugCEF')">
                <i class="checkmark icon"></i> Yes
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8=" crossorigin="anonymous"></script>
    <script src="/javascripts/modal.js"></script>
    <% include templates/request.ejs %>
</body>

</html>
