<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button type="button" name="button" onclick="resourceCall('API.showShard(\'Agim\',2000);');">Agim</button>
  </body>
</html>
