.ui.form .selection.dropdown>.menu {
    border-top-width: 1px!important;
    border-bottom-width: 1px!important;
    border-radius: 0!important; 
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.input-container {
    max-width: 300px;
    margin: 0 auto;
}

.radio-container {
    max-width: 300px;
    margin: 20px auto;
}

.mdl-radio__outer-circle {
    border: 2px solid rgba(255, 255, 255, 0.54);
}

.shopdrop {
    width: 100%
}
